header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  header nav {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    z-index: 1; 
    transition: .3s ease all;}
    header nav a {
      font-family: sans-serif;
      font-weight: bold;
      font-size: 17px;
      padding: 5px 17px;
      color: #6c757d;
      text-decoration: none;
      display: inline-block;
      position: relative; }
      header nav a:hover {
        color: #f4511e; }
      header nav a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #f4511e;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.5s ease-in-out; }
      header nav a:hover:before {
        visibility: visible;
        transform: scaleX(0.6); }

.logo {
  margin-top: -6px; }

footer {
  width: 100%;
  position: static;
  background-color: #e5e5e5;
  font-family: sans-serif;
  color: black;
  font-size: 14px;
  display: flex;
  justify-content: space-around; }
  footer div {
    margin-top: 10px;
    margin-bottom: 10px; }
    footer div .divmapa {
      display: flex;
      flex-direction: column; }

.divredes {
 
  width: 80px;
  height: 60px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

  .divredes svg {
    width: 80%;
    
  }
  .divredes a {
   
   border-radius: 50%;
   color: var(--body-color);
   padding: 8px;
   width:30px;
   height: 50px;
   margin-right: 12px;
  }
 
    
  
   

body {
  display: flex;
  flex-wrap: wrap; }

a {
  text-decoration: none;
  color: black; }

.hero3 {
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.logo {
  align-items: left; }

.mainindex {
  width: 100%; }

.section1 {
  margin-top: -700px;
  height: 600px; }
  .section1 div {
    width: 600px;
    margin-left: 700px;
    margin-top: 15px; }
    .section1 div h1, .section1 div h2 {
      font-family: neue-haas-grotesk-display;
      font-size: 70px;
      text-align: center;
      font-weight: bold;
      text-align: right;
      margin-right: 70px; }

.secproduct {
  display: flex;
  justify-content: flex-end;
  margin-left: 400px;
  height: 100px;
  width: 700px; }
  .secproduct a {
    position: relative;
    display: inline-block;
    padding: 10px;
    height: 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #f4511e;
    color: black;
    border-radius: 5px;
    letter-spacing: 1px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s; }
  .secproduct a::before,
  .secproduct a::after {
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background: black;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
  .secproduct a::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
  .secproduct a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px); }
  .secproduct a:hover::before,
  .secproduct a:focus::before,
  .secproduct a:hover::after,
  .secproduct a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }

.divwave svg{
  margin-left: 130px;
  margin-top: -547px;
  height: 230px;
  object-fit: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.Section2 {
  display: inline-block;
  background-color: #f4511e;
  margin-top: 85px;
  height: 674px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .Section2 .divhistoria {
    margin-top: 100px;
    margin-left: 80px; }
    .Section2 .divhistoria h3, .Section2 .divhistoria h4 {
      color: white;
      font-family: sans-serif;
      font-size: 60px;
      text-align: center;
      font-weight: bold;
      width: 300px; }

#RAICES {
  margin-left: 200px; }

.divseccion2img {
  overflow: hidden;
  width: 430px;
  margin-right: 80px;
  height: 68%;
  margin-top: 130px;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .divseccion2img img {
    margin-left: 10px;
    margin-top: 20px;
    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.2); }
  .divseccion2img img:hover {
    transform: scale(1.1); }

.Parrafoindex {
  margin-top: 40px;
  font-weight: lighter;
  font-size: 19px;
  width: 500px;
  line-height: 25px;
  font-family: sans-serif;
  color: white; }
  .Parrafoindex a {
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: white; }
    .Parrafoindex a:hover {
      color: white; }
    .Parrafoindex a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: white;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.5s ease-in-out; }
    .Parrafoindex a:hover:before {
      visibility: visible;
      transform: scaleX(1); }

.section3 {
  background-color: white;
  height: 700px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }
  .section3 h5, .section3 h6 {
    color: #2D6A4F;
    font-family: sans-serif;
    text-align: right;
    font-size: 60px;
    font-weight: bold; }

.divProductoindex {
  margin-top: 150px;
  margin-right: 80px; }
  
  .divProductoindex a {
    color: #6c757d; }

    .divProductoindex a:hover {
      color: #6c757d; }

      .divProductoindex a:hover:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #6c757d;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.5s ease-in-out; }
      .divProductoindex a:hover:hover:before {
        visibility: visible;
        transform: scaleX(1); }

.divimgsec3 {
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
  height: 68%;
  width: 430px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
  .divimgsec3 img {
    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.2);
    border-radius: 50%; }
  .divimgsec3 img:hover {
    transform: scale(1.1); }

#garantia {
  margin-right: 200px; }

#parrafo {
  color: #6c757d; }

/*Producto*/
.mainproducto {
  width: 100%;
  margin-bottom: 70px; }

.containerproduct {
  margin-top: 70px; }

.beans {
  margin-top: -90px;
  margin-left: 30px; }


  .H1PRODUCTO {
    text-align: center;
    padding-top: 50px;
    color: #f4511e;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    height: 100px; }
  .Encabezado p {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: white; }

.aproducto:hover {
  color: #f4511e; }

.grid {
  width: 80%;
  display: grid;
  font-family: sans-serif;
  grid-template-columns: 291px 291px 291px;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }

  .grid div {
    text-align: center;
    overflow: hidden;
    background-color: #f7f7f7;
    border: 0.1px solid #dbdbdb;
    border-radius: 5%;
    padding: 2px;
    transition: all .7s;
    font-size: 1.0rem;
    font-family: "monsterrat", sans-serif; 
  }

  

          .grid div:hover {
          -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
          -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
          -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
          box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 14px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px; }

          .grid div button{
            border: none;
            background-color: rgb(212, 186, 112);
            display: inline-block;
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 25px;
            padding: 15px 25px;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-transition: all 400ms ease;
                    transition: all 400ms ease;
          }
          
          .grid div button:hover{
            background-color: rgb(78, 182, 125);
           
          }
          
        
.container {
     margin-top: 40px;
     border: 1px solid black;


}

/*QuienesSomos*/
.mainhistoria {
  width: 100%;
  margin-bottom: 70px; }

.container3 {
  margin-top: 70px;
  margin-bottom: 500px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  align-items: center; }

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  height: 150px;
  width: 1349px;

  margin-top: -40px;
  height: 200px; }

  .historia {
    text-align: center;
    padding-top: 50px;
    color: #f4511e;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    height: 100px; 
  }s


  #textoHistoria {
    font-size: 14px;
    font-weight: lighter;
    color: #6c757d; }

.beans1 {
  margin-left: 1150px;
  margin-top: -90px; }

.item2 {
  width: 400px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin-left: 80px; }

.item2 img {
  transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.2);
  border-radius: 50%;
  margin-left: 8px; }

.item2:hover img {
  transform: scale(1.1); }

.item3 {
  width: 600px; }

.textoHistoria {
  margin-top: 50px;
  color: #6c757d;
  font-size: 19px;
  line-height: 25px;
  margin-left: 50px; }

/*Registrate */
.MainLogin {
  margin-top: 12px;
  color: black;
  height: 800px;
  width: 100%;
 }

.wrapSesion {
  margin-top: 80px; }


   .log {
    text-align: center;
    padding-top: 50px;
    color: #f4511e;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    height: 100px;
   }

.divLogin {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-rows: 40px 40px 40px;
  grid-row-gap: 15px;
  justify-content: center; }
  .divLogin input {
    font-size: 18px;
    font-weight: lighter;
    background-color: #fefcfb;
    border: 1px solid #adb5bd;
    outline: none;
    height: 40px;
    width: 500px; }

.Botonlogin {
  background-color: #fec89a;
  display: flex;
  justify-content: center; }
  .Botonlogin a {
    margin-top: 8px;
    color: black; }

.divforgotlogin {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

/*blog*/
.maintucompra {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  margin-bottom: 500px; }

.blogtitulo {
  background-color: #f4511e;
  width: 100%;
  height: 200px; }
  .blogtitulo h1 {
    text-align: center;
    padding-top: 50px;
    color: white;
    font-weight: bold;
    font-family: neue-haas-grotesk-display;
    font-size: 60px;
    height: 100px; }
  .blogtitulo p {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: white; }

.ContenedorBlog {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 80px; }

.item {
  background-color: #fec89a;
  width: 450px;
  height: 700px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .item p {
    margin-top: 50px;
    text-align: center;
    padding: 10px; }
  .item img {
    margin-top: 40px;
    margin-left: 80px; }

/*Crear cuenta*/
.mainregistrate {
  height: 800px;
  width: 100%; }

.divregistrate {
  margin-top: 70px;
  height: 500px;
  display: inline-block;
  width: 100%; }

.Cuentatitulo {
  height: 200px;
  background-color: #f4511e; }
  .Cuentatitulo h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: neue-haas-grotesk-display;
    margin-bottom: 70px;
    padding-top: 20px;
    text-align: center; }

.divCompletar {
  display: grid;
  grid-template-rows: 30px 30px 30px;
  grid-row-gap: 20px;
  margin-top: 50px;
  justify-content: center; }
  .divCompletar input {
    background-color: #fefcfb;
    border: 1px solid #adb5bd;
    height: 40px;
    width: 500px; }

.divcrear {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center; }
  .divcrear button {
    text-align: center;
    border-style: none;
    background-color: #fec89a;
    width: 500px;
    height: 40px; }

/*preguntas frecuentes*/
.mainpreguntas {
  height: 100%;
  width: 100%; }

.PregTitulo {
  margin-top: 70px; }
  .PregTitulo h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: neue-haas-grotesk-display;
    text-align: center;
    width: 100%;
    height: 200px;
    padding-top: 50px;
    background-color: #f4511e; }

.ContainerPreg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; }
  .ContainerPreg button {
    width: 50%;
    margin-top: 10px;
    background-color: #fec89a;
    border: none; }
  .ContainerPreg .btn-Warning:hover {
    background-color: #f4511e; }

.modal-footer .btn-danger {
  background-color: #f4511e;
  border: none; }

  
  .dark-light{
  
    width:50px;
  
  height: 50px;
  padding: 8px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 8px;
  border-radius: 50%;
  z-index: 3;
  
  }
  
    .dark-light svg {
      fill: transparent;
      transition: 0.5s;
      fill: #ffce45;
      stroke: #ffce45;
      width: 50px;
      position: fixed;
      bottom: 30px;
    right: 30px;
    background-color: var(--header-bg-color);
    
    
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    
  }
   
  .tablaContenedora{
  margin-top: 100px;
  margin-left: 15%;
  width: 70%;
  box-shadow:
  4vh 7vh 14vh -6vh rgba(0,0,0,0.35),
  -4vh 7vh 14vh -6vh rgba(0,0,0,0.35);

}

.table__cantidad > input{
  width: 50px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}

.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}