footer {
	width: 100%;
	position: static;
	background-color: #e5e5e5;
  	font-family: sans-serif;
  	color: black;
  	font-size: 14px;
  	display: flex;
	justify-content: space-around;
	

 div {
 	margin-top: 10px;
 	margin-bottom: 10px;
 
 .divmapa{
 	display: flex;
 	flex-direction: column;
 	 
 


 }
}
}
   .divredes{
   width:80px;
   height: 60px;
   margin-top: 30px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

  
}
 
